.surprise-button-container {
    display: flex;
    justify-content: center;
}

.surprise-button {
    font-size: 250px;
    font-family: calibri;
}

.hidden {
    display: none;
}

#messege {
    margin-top: 200px;
    margin-left: 200px;
    font-size: 250px;
}