* {
    margin: 0;
    padding: 0;
    overflow-y: hidden;

    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.header {
    text-align: center;
    font-size: 70px;
    margin-bottom: 50px;
}

.main-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-button {
    height: 50px;
    width: 500px;
    padding: 8px;
    margin: 10px;
    font-size: 30px;
}