* {
    margin: 0;
    padding: 0;
    overflow-y: hidden;

    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.header {
    text-align: center;
    font-size: 70px;
    margin-bottom: 50px;
}

.main-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-button {
    height: 50px;
    width: 500px;
    padding: 8px;
    margin: 10px;
    font-size: 30px;
}

.new-note {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 140px;
}

.new-note-characteristics {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date, .number, .product, .translate, .abbreviation, .calculate-button {
    height: 60px;
    width: 210px;
    font-size: 30px;
}

.save-button {
    height: 60px;
    width: 210px;
    font-size: 30px;
    margin-top: 250px;
}

.cell {
    display: flex;
    flex-direction: row;
}

.name-of-cell {
    width: 210px;
    font-size: 27px;
}

.right-side-of-new-note-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 120px;
}

.color-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border: 5px solid black;
}

.color-square {
    width: 180px;
    height: 180px;
    margin-bottom: 35px;
    border: 2px solid black;
}

.name-of-the-color {
    font-size: 30px;
}